@media screen and (max-width: 700px){
body{
    background-color:#0a1b2f;
    height: 200vh;
}
#wrapper1{
    display: grid;
    margin-left: -8px;
    margin-right: -8px;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 10vh 90vh 60vh 20vh;
    grid-template-areas: 
    'nv nv'
    'mn mn'
    'dv dv'
    'ft ft';
}
* {box-sizing:border-box}

.slideshow-container {
  height: auto;
  position: relative;
  margin: auto;
}
.divider{
  margin-top: -5px;
  background-color:#0a1b2f;
  height: 30px;
}
.slidetitle{
  font-size: 1.7rem;
}
.slidetextimg{
  width: 30%;
  margin-right: 10px;
}
.review{
}
.mySlides{
    height: auto;
}
.slideimg{
  width: 100%;
} 
.text {
  display: flex;
  flex-wrap: nowrap;
  color:white;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: left;
}
#logotyp{
    width: 35%;
    -webkit-user-drag: none;
}
#menu-button{
    width: 15%;
    -webkit-user-drag: none;
    margin-right: 27.5%;
}
#sc1{
    grid-area: sc1;
}
#sc2{
    grid-area: sc2;
}
#sc3{
    grid-area: sc3;
}
nav{
    display: flex;
    flex-wrap: nowrap;
    color: #2f2f44;
    grid-area: nv;
    justify-content: left;
    background-color:#0a1b2f;
    padding: 10px;
    align-items: center;
}
h2{
    font-size: 1.5rem;
    margin-right: 20px;
    text-decoration: underline;
}
#aboutus{
    background-color:#F8F9FA;
}
article{
    background-color: #F8F9FA;
    color: 2D2D2D;
}

main{
    grid-area: mn;
    background-color: #F8F9FA;
}
#divbox{
    grid-area: dv;
    border-color: #0A0A0A;
    background-color:#F8F9FA;
}
footer{
    grid-area: ft;
    background-color:#0a1b2f;
    width: 100%;

}
}